@import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400&display=swap");

@font-face {
  font-family: "Grotta";
  src: url("./assets/fonts/Grotta-Regular.otf");
}

:root {
  --dark-heading-color: #111111;
  --secondary-color: #6372e1;
  --link-color: #636363;
  --bg-color: #e7e7e7;

  --heading-font: "Fahkwang";
  --bold-heading-font: "Fahkwang";
  --body-font: "Grotta";

  --fs-big-heading: 36px;
  --fs-heading: 24px;
  --fs-link: 16px;
  --fs-body: 14px;

  --line-height: 28px;
  --sm-line-height: 19px;
}

@media (max-width: 860px) {
  :root {
    --fs-big-heading: 28px;
  }
}

@media (max-width: 798px) {
  :root {
    --fs-heading: 22px;
    --fs-link: 15px;
    --fs-body: 13px;

    --line-height: 26px;
    --sm-line-height: 16px;
  }
}

@media (max-width: 548px) {
  :root {
    --fs-big-heading: 22px;
    --fs-heading: 20px;
    --fs-link: 14px;
    --fs-body: 12px;

    --line-height: 22px;
    --sm-line-height: 14px;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
// FOR NOT GETTING WHITE SPACE WHILE MAKING IT RESPONSIVE
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.has-scroll-smooth {
  backface-visibility: hidden;
  transform: translateZ(0);
}

[data-load-container] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  font-family: var(--body-font);
  // position: relative;
  background: #fff;
  overflow-x: hidden;

  .cursor {
    position: absolute;
    background: var(--link-color);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
  }

  .cursor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    opacity: 0;
  }

  .cursor.active {
    opacity: 1;
    transform: scale(12);
  }

  .cursor.active::before {
    opacity: 1;
  }

  .cursor-follower {
    position: absolute;
    border: 3px solid #6372e1;
    mix-blend-mode: hard-light;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
  }

  .cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
  }
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contain Images*/
.contain-img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Utility classes */

section {
  padding: 3em 0 1em;
}

.container {
  --max-width: 1200px;
  --padding: 30px;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 5em !important;
}

.flex {
  display: flex;
  flex-direction: column;
}

.link {
  line-height: var(--sm-line-height);
  font-size: var(--fs-link);
  color: var(--link-color);
  text-transform: uppercase;
  border-bottom: 0.5px solid var(--link-color);
  margin: 22px 0;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s ease-in;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 160%;
    height: 1px;
    background: var(--dark-heading-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in;
  }

  &:hover::after {
    transform: scaleX(0.6);
  }

  &:hover,
  &:focus {
    color: var(--secondary-color);
    border-bottom: 0.5px solid transparent;
    // text-decoration: line-through;
  }
}

.button {
  cursor: pointer;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  line-height: 1;
  font-size: var(--fs-link);
  background: transparent;
  color: var(--dark-heading-color);
  border: 1px solid var(--dark-heading-color);
  border-radius: 10px;
  outline: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-out;
  align-items: center;
  margin: 0 auto;

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    color: #fff;
    box-shadow: 10px 9px 0px -1px rgba(47, 46, 48, 1);
  }
}

// navigation
.primary-header {
  padding: 1.3em 0;

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      font-family: var(--heading-font);
      font-size: 3em;
      color: var(--dark-heading-color);
      z-index: 0;

      &:hover {
        color: var(--secondary-color);
      }
    }

    .primary-nav {
      .nav-list {
        font-family: var(--body-font);
        font-size: var(--fs-link);
        display: flex;
        gap: 2.5em;
        li {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 160%;
            height: 1px;
            background: var(--secondary-color);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.2s ease-in;
          }

          &:hover::after {
            transform: scaleX(0.3);
          }
        }
        a {
          color: var(--link-color);
          &:hover,
          &:focus {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  .mobile-nav-toggle {
    display: none;
  }
}

.bg-header {
  background-color: var(--dark-heading-color);
  color: var(--bg-color) !important;
  .brand {
    color: var(--bg-color) !important;
  }
}

// hero
.hero {
  margin-top: 0;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  height: 70vh;
  .container {
    .hero-header {
      font-family: var(--bold-heading-font);
      color: var(--dark-heading-color);
      font-size: var(--fs-big-heading);
      line-height: 1.1;
      word-spacing: 5px;
      text-align: center;
      overflow: hidden;
    }
  }
}

.work-sec {
  position: relative;
  padding-bottom: 3em;
  z-index: 1;
  .container {
    .works {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
      .work {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        border: 1px solid var(--dark-heading-color);
        padding: 2em;
        border-radius: 20px;
        transition: all 0.5s ease-out;

        .work-heading {
          font-size: var(--fs-heading);
          padding: 1em 0;
        }

        .work-img {
          height: 300px;
          width: 100%;
          filter: grayscale(100%);
          img {
            border-radius: 15px;
          }
        }

        &:hover .work-img {
          filter: grayscale(0);
          transition: all 0.7s ease-out;
        }
        .button {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}

.footer {
  margin-bottom: 0;
  width: 100%;
  background-color: var(--dark-heading-color);
  color: var(--bg-color);
  .container {
    background-color: var(--dark-heading-color);
    color: var(--bg-color);
    .contact-info {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .contact-img {
        width: 11%;
        display: inline-block;
      }

      .contact-title {
        font-family: var(--bold-heading-font);
        font-size: var(--fs-big-heading);
      }
    }
    .grid {
      margin-top: 3em;
      gap: 2em;
      align-items: baseline;
      .contact-page-link {
        font-size: 30px;
        color: #6372e1;
        cursor: pointer;
        width: fit-content;
      }
      .flex {
        flex-direction: row;
        justify-content: flex-end;
        gap: 2em;
        a {
          color: var(--link-color);
          cursor: pointer;
          &:hover {
            color: #6372e1;
          }
        }
      }
    }

    .footer-right {
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: var(--fs-body);
      padding-top: 2em;
    }
  }
}

// About page
.about-me {
  position: relative;
  z-index: 0;
  background-color: var(--dark-heading-color);
  color: var(--bg-color) !important;
  .container {
    .about-title {
      font-size: var(--fs-heading);
      line-height: 1.5;
      overflow: hidden;
      a {
        color: var(--secondary-color);
        text-decoration: underline var(--secondary-color);
      }
    }

    .skills {
      .skills-title {
        font-size: var(--fs-big-heading);
        font-family: var(--heading-font);
        margin: 2em 0 0.5em;
      }
      .flex {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        .skill {
          padding: 0.5em 2em;
          border-radius: 50px;
          border: 1px solid #6372e1;
          color: var(--secondary-color);
          flex-grow: 1;
          text-align: center;
        }
      }
    }
    .resume {
      margin-top: 4em;

      .button {
        background-color: var(--bg-color);
        &:hover {
          color: var(--dark-heading-color);
        }
      }
    }
  }
}

// Works page
.works-sec {
  position: relative;
  z-index: 1;

  .container {
    .works {
      gap: 3em;
      grid-template-columns: 1fr;
      .work {
        padding: 2em 0;
        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2em;
        position: relative;

        span {
          font-size: 70px;
          color: var(--secondary-color);
          left: 40%;
          top: 40%;
          position: absolute;
          z-index: 2;
        }

        .flex {
          align-items: flex-start;
          .work-title {
            font-size: var(--fs-heading);
          }
          .work-subtitle {
            font-size: var(--fs-link);
            color: var(--link-color);
            margin: 2em 0;
            width: 40vw;
          }
          .button{
            margin-left: 0;
          }
        }

        .works-img {
          position: relative;
          height: 400px;
          width: 50%;
          margin: 0;
          overflow: hidden;
          border-radius: 14px;
          img {
            border-radius: 14px;
            position: absolute;
          }
        }
      }
    }
  }
}

// Project
.project {
  position: relative;
  .container {
    video {
      object-fit: cover;
      background: url("./assets/images/bg.mp4");
      width: 100%;
      height: 300px;
      border-radius: 20px;
    }
    .bg {
      position: relative;
      display: flex;
      align-items: center;
      gap: 5em;
      padding-bottom: 2em;
      border-bottom: 1px solid var(--dark-heading-color);
      .flex {
        gap: 1.5em;
        .project-name,
        .project-role,
        .project-year {
          color: var(--dark-heading-color);
          font-family: var(--heading-font);
          font-size: var(--fs-heading);
        }

        .project-name-info,
        .project-role-info,
        .project-year-info {
          color: #6372e1;
          font-size: var(--fs-heading);
        }
      }
    }

    .challenge-heading {
      color: var(--dark-heading-color);
      font-size: 32px;
      display: inline-block;
      margin-top: 1em;
    }

    .challenge-subheading {
      color: var(--dark-heading-color);
      font-size: 20px;
      line-height: 1.3;
      margin-top: 0.5em;
    }

    .challenge-info {
      color: var(--link-color);
      font-size: 20px;
      margin-top: 0.5em;
    }

    .project-heading {
      color: var(--secondary-color);
      font-size: var(--fs-heading);
      margin-top: 1.5em;
    }

    .project-subheading {
      color: var(--dark-heading-color);
      font-size: var(--fs-big-heading);
      display: inline-block;
      margin-top: 1em;
    }
    .project-info {
      color: var(--link-color);
      font-size: 20px;
      line-height: 1.3;
      margin-top: 0.5em;

      .grid {
        justify-content: space-between;
        .flex {
          gap: 1em;
        }
      }
    }

    .project-images {
      display: grid;
      margin-top: 3em;
      .grid {
        gap: 1em !important;
      }
      .accumly-img {
        // height: 800px !important;
      }
    }
    .project-img {
      position: relative;
      height: 50vh;
      width: 100%;
      img {
        object-fit: contain;
        position: absolute;
        border-radius: 20px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 4em;
    }
    .button {
      display: block;
      width: 50%;
      margin-top: 2em;
    }
  }
}

@media (max-width: 920px) {
  .work-sec {
    .container {
      .works {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 798px) {
  .hero {
    padding: 0;
    .container {
      .hero-header {
        img {
          display: none;
        }
      }
    }
  }

  .about {
    .container {
      .about-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
      }
    }
  }
  .project {
    .container {
      .grid {
        grid-template-columns: 1fr;
      }
      .project-img {
        height: 50vh;
      }

      .grid-2 {
        grid-template-columns: 1fr;
        .project-images {
          order: 2;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .hero {
    .container {
      .hero-header {
        font-size: 26px;
      }
    }
  }

  .work-sec {
    .container {
      .works {
        grid-template-columns: 1fr;
      }
    }
  }

  .works-sec {
    .container {
      .works {
        .work {
          flex-direction: column;
          align-items: center;

          &:nth-child(2) {
            flex-direction: column-reverse;
          }
          &:nth-child(4) {
            flex-direction: column-reverse;
          }
          &:nth-child(6) {
            flex-direction: column-reverse;
          }

          .flex {
            text-align: center;
            align-items: center;
            .work-subtitle {
              width: 70vw;
            }
            .button {
              width: 100%;
            }
          }
          .works-img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .button {
    width: 100% !important;
  }

  .project {
    .container {
      .project-images {
        flex-direction: column;
      }
      .project-img {
        order: 2;
      }
    }
  }

  .work-sec {
    .container {
      .works {
        flex-direction: column;
        align-items: flex-start;
        .work {
          .work-link {
            font-size: 60px;
          }
        }
      }
    }
  }

  .footer {
    .container {
      .contact-info {
        .contact-img {
          display: none;
        }
      }
      .grid {
        grid-template-columns: 1fr;
        gap: 2em;

        .contact-page-link {
          font-size: 20px;
        }

        .flex {
          justify-content: flex-start;
        }
      }
    }
  }

  .about-me {
    .container {
      .about-title {
        width: 100%;
      }
    }
  }
}

@media (max-width: 380px) {
  .project {
    .container {
      .bg {
        top: -40px;
        background-color: var(--secondary-color);
        padding: 1em;
        border-radius: 0 0 20px 20px;
        justify-content: space-between;
      }
    }
  }
}
